ul{
    list-style-type: none;

}
ul li{
    min-width: 200px;
    padding: 10px;
    text-align: center;
    background: dodgerblue;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

ul li:hover{
    background: deepskyblue;
}