h1{ /* Referencia a elemento */
    color: rgb(255, 0, 255); /* Esto es un comentario */
    
}

#ced{ /* Referencia a ID */
    color: #33b5e5;
}

.contenido{ /* Referencia a Clase */
    background: #333333;
    padding: 10px;
    border: 3px dotted #eeeeee;
    margin: 20px 10px 10px 10px;
}

p, .contenido{
    margin-left: 18px;
    
}

p .importante{ /*Para toda clase .importante en p */
    font-size: 1em; 
    color: #ff4444;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 10px;
}

.contenido.white{ /*Para toda clase .white con .contenido */
    color: #ffffff;
    text-align:  center;
}

.contenido.blue{
    color: #0000ff;
}

.contenedor{
    position: relative;
    width: 300px;
    height: 300px;
    background: #888888;
}


.contenedor div{
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 10px;
    background: #444444;
    color: white;
}
.contenido2{
    display: block;
    margin: 10px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: green;
    color: white;    
}

